#-------------------------
# Version Control
#-------------------------
.git
.gitignore

#-------------------------
# Docker
#-------------------------
docker-compose.yml

#-------------------------
# Operating Specific Junk Files
#-------------------------
k3s/
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
*~
.directory
.Trash-*

#-------------------------
# Environment Files
#-------------------------
.env
.env.*
.vagrant
Vagrantfile

#-------------------------
# Documentation & Tests
#-------------------------
README.md
LICENSE
tests/
user_guide_src/
phpunit*

#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html
writable/logs/*
!writable/logs/index.html
writable/session/*
!writable/session/index.html
writable/brp/*.pdf
!writable/brp/index.html
writable/uploads/*
!writable/uploads/index.html
writable/debugbar/*
!writable/debugbar/index.html
php_errors.log
*.sql
*.bak
*.tmp
*.pdf
#-------------------------
# Composer
#-------------------------
# IMPORTANT: Ignore vendor folder to avoid copying host's dependencies.
# Dependencies are installed via composer install inside Docker.
vendor/

#-------------------------
# IDE / Development Files
#-------------------------
_modules/*
.php-version
.idea/
*.iml
/nbproject/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml
/.nb-gradle/
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/
.vscode/
/results/
